*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    overflow-x: hidden;
}

.score-and-form-box{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}

.score-and-form-box .score-box{
    flex: 1;
    margin-right: 15px;
}

.score-and-form-box .form-box{
    flex: 1;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-and-form-box .score-box .head{
    display: flex;
    justify-content: space-between;
}

.score-and-form-box .score-box .scores{
    list-style: none;
    border: 1px solid #b3b1b1;
    margin-top: 15px;
}

.score-and-form-box .score-box .scores .score{
    margin: 15px 0;
    padding: 10px;
}

.score-and-form-box .score-box .scores .score:nth-child(even){
    background-color: #e4e4e4;
}